*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body {
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

a,
.link {
  color: #bdbdbd;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
